
table {
 border-width:1px; 
 border-style:solid; 
 border-color: black;
     margin-left: auto;
    margin-right: auto;
 
 }
 
.tableau {
     margin-left: auto;
    margin-right: auto;
 }
 
 .tete { 
 tex-align : center;
 border-width:1px;
 border-style:solid; 
 border-color: black;
 padding-left : 10px;
 padding-right : 10px;
 color: black;
 }
 
.lignes { 
 border-width:1px;
 border-style:solid; 
 border-color: black;
 padding-left : 10px;
  padding-right : 10px;
  color: black;
 }

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}