@charset "UTF-8";

.limiter {
  width: 100%;
  margin: 0 auto;
}



.container-login100 {
  width: 100%;  
  min-height: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ebebeb;
}

.form-control{
	width: 60%;
	margin-left: 50%;
    transform: translateX(-50%);
}


.form-type{
  font-family: "Roboto", sans-sherif;
  font-size: 18px;
  color: #fff  /*#8d83ff*/;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  width: 100%;
  display: block;
}

.form-small{
  font-family: "Roboto", sans-sherif;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  margin-top: 4px;
  width: 100%;
  display: block;
}

.form-checkbox{
  width: 70%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.wrap-login100 {
  width: 600px;
  /*background: #fff;*/
  background-image: -moz-linear-gradient(90deg, #e187f0 0%, #f27fd3 33%, #a276ff 67%, #8889ff 100%);
  background-image: -webkit-linear-gradient(90deg, #e187f0 0%, #f27fd3 33%, #a276ff 67%, #8889ff 100%);
  background-image: -ms-linear-gradient(90deg, #e187f0 0%, #f27fd3 33%, #a276ff 67%, #8889ff 100%);
  border-radius: 10px;
  position: relative;
  
}

.btn-success.btval {
	margin-left: 50%;
	margin-top: 10px;
    transform: translateX(-50%);
}

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-family: "Roboto", sans-sherif;
  font-size: 30px;
  color: #fff  /*#8d83ff*/;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  width: 100%;
  display: block;
}

.txt1 {
  font-family: "Roboto", sans-sherif;
  font-size: 17px;
  color: #555555;
  line-height: 1.4;
  text-aling: center;
  width: 100%;
  display: block;
}

.wrap-input100 {
  width: 80%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
}

.validate-input {
  position: relative;
}

.input100 {
  font-family: "Roboto", sans-sherif;
  color: #555555;
  line-height: 1.3;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 40px;
  padding: 0px 25px 0px 25px;
}