@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700|Roboto:300,400,500,700");

.list-group{
	margin-left: 20px;
	margin-top: 20px;
	width : 60%;
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.list-group-item{
  background-image: -moz-linear-gradient(0deg, #e187f0 0%, #f27fd3 33%, #a276ff 67%, #8889ff 100%);
  background-image: -webkit-linear-gradient(0deg, #e187f0 0%, #f27fd3 33%, #a276ff 67%, #8889ff 100%);
  background-image: -ms-linear-gradient(0deg, #e187f0 0%, #f27fd3 33%, #a276ff 67%, #8889ff 100%);
  text-align: center;
}


.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 600px;
  background-color: #ebebeb;
}

